@charset 'UTF-8';

body {
  &, & * {
    all: initial;

    @include reset-font-smoothing;
    word-wrap: break-word;
  }

  position: absolute;
  width: 100%;
  height: 100%;
  font: 1em/1 sans-serif;
  box-sizing: border-box;

  * {
    @include reset-box-sizing;
    position: relative;
  }
}

button {
  @include reset-user-select-none;
}
