@charset 'UTF-8';

body {
  position: absolute;
  width: 100%;
  height: 100%;
  font: 1em/1 sans-serif;
  box-sizing: border-box;
  word-wrap: break-word;

  &, * {
    @include reset-background;
    @include reset-box-model;
    @include reset-box-sizing;
    @include reset-font-smoothing;
    @include reset-text-inherit;
  }

  * {
    position: relative;
  }
}

button {
  @include reset-user-select-none;
}
