@charset 'UTF-8';

* {
  @extend %reset-background;
  @extend %reset-box-model;
  @extend %reset-box-sizing;
  @extend %reset-font-smoothing;
  position: relative;
  color: inherit;
  word-wrap: break-word;

  // &::before, &::after {
  //   position: absolute;
  //   width: 100%;
  //   content: '';
  // }
}

html, body {
  height: 100%;
}

table {
  width: 100%;
}

body {
  position: absolute;
  width: 100%;
}

// #{$inline-block} {
//   display: block;
//   width: 100%;
// }
