%reset-anchor-decoration {
  text-decoration: none;

  &:hover, &:active {
    text-decoration: underline;
  }
}

%reset-box-model {
  margin: 0;
  padding: 0;
  border: 0;
}

// Using the `background` shorthand property will undo this reset
%reset-background {
  background-color: transparent; // For inputs to have transparent backgrounds
  background-position: center;
  background-repeat: no-repeat;
  // background-image: none;
  background-size: cover;
  // background-clip: none;
  // background-origin: none;
  // background-attachment: none;
  // background-blend-mode: none;
}

// Using the `border` shorthand property will undo this reset
%reset-border {
  // border-width: 0;
  // border-style: solid;
  border-color: transparent;
}

%reset-box-sizing, &::after, &::before {
  box-sizing: border-box;
}

%reset-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

%reset-font-inherit {
  color: inherit; // Force achors to inherit color
  font: inherit;  // Force inputs to inherit font
}

%reset-position {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
