$pilot-reset: true;

@charset 'UTF-8';

* {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit; // a
  font: inherit; // input
  text-decoration: inherit; // a

  &, &::after, &::before {
    box-sizing: inherit;
  }
}

html, body {
  height: 100%;
}

body {
  position: absolute;
  width: 100%;
  font: 300 1em/1 '-apple-system', BlinkMacSystemFont, sans-serif;
  font-feature-settings: 'liga' 0;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  word-wrap: break-word;
}

a {
  cursor: pointer;
}

button {
  user-select: none;
}
