$pilot-reset: true;

@charset 'UTF-8';

* {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit; // a
  font: inherit; // input, th
  text-align: inherit; // input
  text-decoration: inherit; // a

  &, &::after, &::before {
    box-sizing: inherit;
  }
}

body, svg, table {
  width: 100%;
}

body {
  font: 400 1em/1 '-apple-system', BlinkMacSystemFont, sans-serif;
  box-sizing: border-box;
  word-wrap: break-word;
}

a {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

button {
  user-select: none;
}

// 1: BUG: IE10: aspect ratio is not kept when resizing
img {
  width: auto; // 1
  height: auto; // 1
}

svg {
  display: block;
  fill: currentColor;
  stroke: currentColor;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
